.lightning{
  animation: flash 1s infinite;
  transform-origin:center;
}

@keyframes flash{
  0%{
    transform:scale(1);
    opacity:1;
  }
  50%{
    transform:scale(1.2);
    opacity:0.6;
  }
  100%{
    transform:scale(1);
    opacity:1;
  }
}